<a href="https://colab.research.google.com/github/Andru-1987/74235-_DataScience_I/blob/main/clase_2/clase_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
print("Hola, mundo")

Hola, mundo

In [44]:
nombre = input("ingrese tu nombre")

ingrese tu nombrejuanito

In [45]:
print(nombre)

juanito

In [46]:
nombre = 129.99

In [47]:
print(nombre)

129.99

## 2.1 Variables y Asignación - Ejemplos Adicionales

In [ ]:
# Ejemplo: Múltiples asignaciones
x, y, z = 1, 2, 3
print(f"x = {x}, y = {y}, z = {z}")

# Asignación múltiple del mismo valor
a = b = c = 0
print(f"a = {a}, b = {b}, c = {c}")

# Intercambio de variables
a, b = 10, 20
print(f"Antes: a = {a}, b = {b}")
a, b = b, a
print(f"Después: a = {a}, b = {b}")

## 2.2 Tipos de Datos en Python

In [ ]:
# Tipos básicos
entero = 42
decimal = 3.14159
texto = "Hola mundo"
booleano = True
nada = None

print(f"Tipo de {entero}: {type(entero)}")
print(f"Tipo de {decimal}: {type(decimal)}")
print(f"Tipo de {texto}: {type(texto)}")
print(f"Tipo de {booleano}: {type(booleano)}")
print(f"Tipo de {nada}: {type(nada)}")

In [ ]:
# Tipos compuestos: Listas
mi_lista = [1, 2, 3, "python", True]
print(f"Lista: {mi_lista}")
print(f"Tipo: {type(mi_lista)}")
print(f"Primer elemento: {mi_lista[0]}")
print(f"Último elemento: {mi_lista[-1]}")

# Agregar elementos
mi_lista.append("nuevo")
print(f"Después de append: {mi_lista}")

In [ ]:
# Tipos compuestos: Tuplas (inmutables)
mi_tupla = (1, 2, 3, "datos")
print(f"Tupla: {mi_tupla}")
print(f"Tipo: {type(mi_tupla)}")

# Desempaquetado de tuplas
x, y, z, texto = mi_tupla
print(f"x = {x}, y = {y}, z = {z}, texto = {texto}")

In [ ]:
# Tipos compuestos: Diccionarios
mi_dict = {
    "nombre": "Ana",
    "edad": 25,
    "ciudad": "Madrid"
}
print(f"Diccionario: {mi_dict}")
print(f"Tipo: {type(mi_dict)}")
print(f"Nombre: {mi_dict['nombre']}")
print(f"Edad: {mi_dict.get('edad', 'No especificada')}")

# Agregar nueva clave
mi_dict["profesion"] = "Data Scientist"
print(f"Después de agregar: {mi_dict}")

In [ ]:
# Tipos compuestos: Sets (conjuntos únicos)
mi_set = {1, 2, 3, 3, 4, 4, 5}
print(f"Set: {mi_set}")  # Los duplicados se eliminan automáticamente
print(f"Tipo: {type(mi_set)}")

# Operaciones con sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(f"Unión: {set1 | set2}")
print(f"Intersección: {set1 & set2}")
print(f"Diferencia: {set1 - set2}")

In [ ]:
# Conversión de tipos
numero_texto = "123"
numero_entero = int(numero_texto)
print(f"Texto '{numero_texto}' convertido a entero: {numero_entero}")

decimal_texto = "3.14"
numero_decimal = float(decimal_texto)
print(f"Texto '{decimal_texto}' convertido a float: {numero_decimal}")

numero_a_texto = str(42)
print(f"Número 42 convertido a texto: '{numero_a_texto}'")

## 2.3 Operadores en Python

In [ ]:
# Operadores aritméticos
a, b = 10, 3
print(f"Suma: {a} + {b} = {a + b}")
print(f"Resta: {a} - {b} = {a - b}")
print(f"Multiplicación: {a} * {b} = {a * b}")
print(f"División: {a} / {b} = {a / b}")
print(f"División entera: {a} // {b} = {a // b}")
print(f"Módulo (resto): {a} % {b} = {a % b}")
print(f"Potencia: {a} ** {b} = {a ** b}")

In [ ]:
# Operadores de comparación
x, y = 5, 10
print(f"{x} == {y}: {x == y}")
print(f"{x} != {y}: {x != y}")
print(f"{x} < {y}: {x < y}")
print(f"{x} > {y}: {x > y}")
print(f"{x} <= {y}: {x <= y}")
print(f"{x} >= {y}: {x >= y}")

# Comparación de strings
texto1, texto2 = "abc", "def"
print(f"'{texto1}' < '{texto2}': {texto1 < texto2}")

In [ ]:
# Operadores lógicos
es_mayor = True
es_estudiante = False

print(f"Es mayor Y estudiante: {es_mayor and es_estudiante}")
print(f"Es mayor O estudiante: {es_mayor or es_estudiante}")
print(f"NO es estudiante: {not es_estudiante}")

# Ejemplo práctico
edad = 20
tiene_licencia = True
puede_conducir = edad >= 18 and tiene_licencia
print(f"¿Puede conducir? {puede_conducir}")

In [ ]:
# Operadores de asignación
numero = 10
print(f"Valor inicial: {numero}")

numero += 5  # Equivale a: numero = numero + 5
print(f"Después de += 5: {numero}")

numero -= 3  # Equivale a: numero = numero - 3
print(f"Después de -= 3: {numero}")

numero *= 2  # Equivale a: numero = numero * 2
print(f"Después de *= 2: {numero}")

numero //= 3  # División entera
print(f"Después de //= 3: {numero}")

In [ ]:
# Referencias y objetos
lista1 = [1, 2, 3]
lista2 = lista1  # Misma referencia
lista3 = lista1.copy()  # Copia (objeto diferente)

print(f"lista1: {lista1}")
print(f"lista2: {lista2}")
print(f"lista3: {lista3}")

print(f"¿lista1 es lista2? {lista1 is lista2}")
print(f"¿lista1 es lista3? {lista1 is lista3}")

# Modificar lista2 afecta a lista1
lista2.append(4)
print(f"Después de modificar lista2:")
print(f"lista1: {lista1}")
print(f"lista2: {lista2}")
print(f"lista3: {lista3}")

## 2.4 Estructuras de Control

In [ ]:
# Estructuras condicionales: if, elif, else
edad = 20

if edad < 13:
    categoria = "niño"
elif edad < 18:
    categoria = "adolescente"
elif edad < 65:
    categoria = "adulto"
else:
    categoria = "adulto mayor"

print(f"Con {edad} años eres un/a {categoria}")

In [ ]:
# Bucle for con lista
frutas = ["manzana", "banana", "naranja", "uva"]

print("Frutas disponibles:")
for fruta in frutas:
    print(f"  - {fruta}")

# Bucle for con range
print("\nNúmeros del 0 al 4:")
for i in range(5):
    print(f"  Número: {i}")

# Bucle for con enumerate (índice y valor)
print("\nFrutas con índice:")
for indice, fruta in enumerate(frutas):
    print(f"  {indice}: {fruta}")

In [ ]:
# Bucle while
contador = 0
print("Contador con while:")
while contador < 5:
    print(f"  Contador: {contador}")
    contador += 1

# Bucle while con condición más compleja
numero = 1
print("\nPotencias de 2 menores que 20:")
while numero < 20:
    print(f"  2^{int(numero/2)} = {numero}")
    numero *= 2

In [ ]:
# Break y continue
print("Números del 1 al 10 (saltando el 3 y parando en el 7):")
for i in range(1, 11):
    if i == 3:
        continue  # Salta esta iteración
    if i == 7:
        break     # Sale del bucle
    print(f"  {i}")

In [ ]:
# Ejemplo práctico: Separar números pares e impares
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
pares = []
impares = []

for numero in numeros:
    if numero % 2 == 0:
        pares.append(numero)
    else:
        impares.append(numero)

print(f"Números pares: {pares}")
print(f"Números impares: {impares}")

In [ ]:
# List comprehension (comprensión de listas)
# Forma tradicional
cuadrados_tradicional = []
for i in range(5):
    cuadrados_tradicional.append(i ** 2)

# Forma con list comprehension
cuadrados = [i ** 2 for i in range(5)]

print(f"Cuadrados (tradicional): {cuadrados_tradicional}")
print(f"Cuadrados (list comprehension): {cuadrados}")

# List comprehension con condición
pares_cuadrados = [i ** 2 for i in range(10) if i % 2 == 0]
print(f"Cuadrados de números pares: {pares_cuadrados}")

## 2.5 Funciones - Ejemplos Adicionales

In [ ]:
# Función básica con parámetros
def calcular_area_rectangulo(base, altura):
    """Calcula el área de un rectángulo"""
    area = base * altura
    return area

resultado = calcular_area_rectangulo(5, 3)
print(f"Área del rectángulo (5x3): {resultado}")

In [ ]:
# Función con parámetros por defecto
def saludar(nombre, titulo="Sr./Sra."):
    """Saluda a una persona con un título opcional"""
    return f"¡Hola {titulo} {nombre}!"

print(saludar("Ana"))
print(saludar("Carlos", "Dr."))
print(saludar("María", "Ing."))

In [ ]:
# Función con parámetros arbitrarios (*args)
def sumar_todos(*numeros):
    """Suma todos los números pasados como argumentos"""
    total = 0
    for num in numeros:
        total += num
    return total

print(f"Suma de 1, 2, 3: {sumar_todos(1, 2, 3)}")
print(f"Suma de 10, 20, 30, 40: {sumar_todos(10, 20, 30, 40)}")
print(f"Suma de 5: {sumar_todos(5)}")

In [ ]:
# Función con parámetros con nombre (**kwargs)
def crear_persona(nombre, edad, **info_adicional):
    """Crea un diccionario con información de una persona"""
    persona = {
        "nombre": nombre,
        "edad": edad
    }
    persona.update(info_adicional)
    return persona

persona1 = crear_persona("Ana", 25, ciudad="Madrid", profesion="Data Scientist")
persona2 = crear_persona("Carlos", 30, ciudad="Barcelona")

print(f"Persona 1: {persona1}")
print(f"Persona 2: {persona2}")

In [ ]:
# Función que retorna múltiples valores
def calcular_estadisticas(numeros):
    """Calcula estadísticas básicas de una lista de números"""
    if not numeros:
        return None, None, None, None
    
    total = sum(numeros)
    promedio = total / len(numeros)
    maximo = max(numeros)
    minimo = min(numeros)
    
    return total, promedio, maximo, minimo

datos = [10, 20, 30, 40, 50]
total, promedio, maximo, minimo = calcular_estadisticas(datos)

print(f"Datos: {datos}")
print(f"Total: {total}")
print(f"Promedio: {promedio:.2f}")
print(f"Máximo: {maximo}")
print(f"Mínimo: {minimo}")

In [ ]:
# Función lambda (funciones anónimas)
# Forma tradicional
def cuadrado(x):
    return x ** 2

# Forma con lambda
cuadrado_lambda = lambda x: x ** 2

print(f"Cuadrado de 5 (función): {cuadrado(5)}")
print(f"Cuadrado de 5 (lambda): {cuadrado_lambda(5)}")

# Uso común de lambda: ordenar lista de tuplas
personas = [("Ana", 25), ("Carlos", 30), ("María", 22)]
personas_ordenadas = sorted(personas, key=lambda x: x[1])  # Ordenar por edad
print(f"Personas ordenadas por edad: {personas_ordenadas}")

## 2.6 Clases y Objetos - Ejemplos Adicionales

In [ ]:
# Clase simple: Calculadora
class Calculadora:
    def __init__(self):
        self.historial = []
    
    def sumar(self, a, b):
        resultado = a + b
        self.historial.append(f"{a} + {b} = {resultado}")
        return resultado
    
    def restar(self, a, b):
        resultado = a - b
        self.historial.append(f"{a} - {b} = {resultado}")
        return resultado
    
    def multiplicar(self, a, b):
        resultado = a * b
        self.historial.append(f"{a} * {b} = {resultado}")
        return resultado
    
    def mostrar_historial(self):
        print("Historial de operaciones:")
        for operacion in self.historial:
            print(f"  {operacion}")

# Usar la calculadora
calc = Calculadora()
print(f"10 + 5 = {calc.sumar(10, 5)}")
print(f"10 - 3 = {calc.restar(10, 3)}")
print(f"4 * 7 = {calc.multiplicar(4, 7)}")
calc.mostrar_historial()

In [ ]:
# Clase: Estudiante
class Estudiante:
    def __init__(self, nombre, edad, carrera):
        self.nombre = nombre
        self.edad = edad
        self.carrera = carrera
        self.calificaciones = []
    
    def agregar_calificacion(self, calificacion):
        """Agrega una calificación a la lista"""
        if 0 <= calificacion <= 100:
            self.calificaciones.append(calificacion)
            return True
        return False
    
    def calcular_promedio(self):
        """Calcula el promedio de calificaciones"""
        if not self.calificaciones:
            return 0
        return sum(self.calificaciones) / len(self.calificaciones)
    
    def __str__(self):
        """Representación en string del objeto"""
        return f"Estudiante: {self.nombre}, Edad: {self.edad}, Carrera: {self.carrera}, Promedio: {self.calcular_promedio():.2f}"

# Crear estudiantes
estudiante1 = Estudiante("Ana García", 20, "Data Science")
estudiante1.agregar_calificacion(95)
estudiante1.agregar_calificacion(88)
estudiante1.agregar_calificacion(92)

estudiante2 = Estudiante("Carlos López", 19, "Data Science")
estudiante2.agregar_calificacion(75)
estudiante2.agregar_calificacion(82)

print(estudiante1)
print(estudiante2)

In [ ]:
# Ejemplo práctico: Sistema de gestión de productos
class Producto:
    def __init__(self, nombre, precio, stock):
        self.nombre = nombre
        self.precio = precio
        self.stock = stock
    
    def vender(self, cantidad):
        """Vende una cantidad del producto"""
        if cantidad <= self.stock:
            self.stock -= cantidad
            total = self.precio * cantidad
            return total
        else:
            return None
    
    def reponer(self, cantidad):
        """Repone stock del producto"""
        self.stock += cantidad
    
    def __str__(self):
        return f"Producto: {self.nombre}, Precio: ${self.precio}, Stock: {self.stock}"

# Crear productos
producto1 = Producto("Laptop", 999.99, 10)
producto2 = Producto("Mouse", 29.99, 50)

print(producto1)
print(producto2)

# Vender productos
total_venta = producto1.vender(2)
if total_venta:
    print(f"\nVenta realizada: ${total_venta:.2f}")
    print(f"Stock restante de {producto1.nombre}: {producto1.stock}")

# Reponer stock
producto2.reponer(20)
print(f"\nDespués de reponer {producto2.nombre}:")
print(producto2)

---

In [ ]:
lista_de_nombres = """
1.  Hugo
2.  Martín
3.  Lucas
4.  Mateo
5.  Leo
6.  Daniel
7.  Alejandro
8.  Pablo
9.  Manuel
10.  Álvaro
11.  Adrián
12.  David
13.  Mario
"""

lista_de_nombres

'\n1.  Hugo \n2.  Martín \n3.  Lucas \n4.  Mateo \n5.  Leo \n6.  Daniel \n7.  Alejandro \n8.  Pablo \n9.  Manuel\n10.  Álvaro \n11.  Adrián \n12.  David \n13.  Mario \n'

In [ ]:
lista_cleaned = lista_de_nombres.split("\n")
lista_cleaned

['',
 '1.  Hugo ',
 '2.  Martín ',
 '3.  Lucas ',
 '4.  Mateo ',
 '5.  Leo ',
 '6.  Daniel ',
 '7.  Alejandro ',
 '8.  Pablo ',
 '9.  Manuel',
 '10.  Álvaro ',
 '11.  Adrián ',
 '12.  David ',
 '13.  Mario ',
 '']

In [ ]:
lista_completamente_limpia = []

In [ ]:
def limpiador_de_texto(nombre_corregir, lista_output):
    if nombre_corregir != "":
        solo_nombre = nombre_corregir.split("  ")[1]
        solo_nombre_no_spaces = solo_nombre.strip().lower()
        lista_output.append(solo_nombre_no_spaces)

In [58]:
for name in lista_cleaned:
    # if name  == "":
    #     print("este elemnto es vacio")
    # else:
    #     solo_nombre = name.split("  ")[1]
    #     solo_nombre_no_spaces = solo_nombre.strip().lower()
    #     lista_completamente_limpia.append(solo_nombre_no_spaces)
    # if name != "":
    #     solo_nombre = name.split("  ")[1]
    #     solo_nombre_no_spaces = solo_nombre.strip().lower()
    #     lista_completamente_limpia.append(solo_nombre_no_spaces)

    limpiador_de_texto(name,lista_completamente_limpia)

In [59]:
lista_completamente_limpia

['hugo',
 'martín',
 'lucas',
 'mateo',
 'leo',
 'daniel',
 'alejandro',
 'pablo',
 'manuel',
 'álvaro',
 'adrián',
 'david',
 'mario']

In [ ]:
karla_negocio_nombres = []

In [ ]:
new_lista_nombre_karla = """
101.  Abel
102.  Adrián
103.  Alejandro
104.  Ángel
105.  Carlos
106.  César
107.  Bruno
108.  Daniel
109.  Darío
110.  David
111.  Diego
112.  Emilio
113.  Fabián
114.  Felipe
115.  Gabriel
116.  Héctor
117.  Hugo
118.  Jacobo
119.  Jaime
120.  Joaquín
121.  Juan
122.  Leonardo
123.  Leo
124.  Lucas
125.  Marcos
126.  Martín
127.  Mateo
128.  Matías
129.  Miguel
130.  Nicolás
131.  Pablo
132.  Raúl
133.  Samuel
134.  Santiago
135.  Sebastián
136.  Tomás
137.  Tristán
138.  Joan
139.  Andrés
140.  Ricardo
141.  Manuel
142.  Ezequiel
143.  Francisco
144.  Elías
145.  Blas
146.  Alfonso
147.  Ulises
148.  Gerardo
149.  Alfredo
150.  Álvaro
151.  Amadeo
152.  Amancio
153.  Antonio
154.  Baltasar
155.  Beltrán
156.  Benito
157.  Rufino
158.  Boris
159.  Camilo
160.  Ciro
161.  Conrado
"""

new_lista_nombre_karla = new_lista_nombre_karla.split("\n")
print(new_lista_nombre_karla)

['', '101.  Abel  ', '102.  Adrián  ', '103.  Alejandro  ', '104.  Ángel  ', '105.  Carlos  ', '106.  César  ', '107.  Bruno  ', '108.  Daniel  ', '109.  Darío  ', '110.  David  ', '111.  Diego  ', '112.  Emilio  ', '113.  Fabián  ', '114.  Felipe  ', '115.  Gabriel  ', '116.  Héctor  ', '117.  Hugo  ', '118.  Jacobo  ', '119.  Jaime  ', '120.  Joaquín  ', '121.  Juan  ', '122.  Leonardo  ', '123.  Leo  ', '124.  Lucas  ', '125.  Marcos  ', '126.  Martín  ', '127.  Mateo  ', '128.  Matías  ', '129.  Miguel  ', '130.  Nicolás  ', '131.  Pablo  ', '132.  Raúl  ', '133.  Samuel  ', '134.  Santiago  ', '135.  Sebastián  ', '136.  Tomás  ', '137.  Tristán  ', '138.  Joan  ', '139.  Andrés  ', '140.  Ricardo  ', '141.  Manuel  ', '142.  Ezequiel  ', '143.  Francisco  ', '144.  Elías  ', '145.  Blas  ', '146.  Alfonso  ', '147.  Ulises  ', '148.  Gerardo  ', '149.  Alfredo  ', '150.  Álvaro  ', '151.  Amadeo  ', '152.  Amancio  ', '153.  Antonio  ', '154.  Baltasar  ', '155.  Beltrán  ', '156.  Benito  ', '157.  Rufino  ', '158.  Boris  ', '159.  Camilo  ', '160.  Ciro  ', '161.  Conrado  ', '']

In [ ]:
for karla_name in new_lista_nombre_karla:
    limpiador_de_texto(karla_name,karla_negocio_nombres)

In [ ]:
karla_negocio_nombres

['abel',
 'adrián',
 'alejandro',
 'ángel',
 'carlos',
 'césar',
 'bruno',
 'daniel',
 'darío',
 'david',
 'diego',
 'emilio',
 'fabián',
 'felipe',
 'gabriel',
 'héctor',
 'hugo',
 'jacobo',
 'jaime',
 'joaquín',
 'juan',
 'leonardo',
 'leo',
 'lucas',
 'marcos',
 'martín',
 'mateo',
 'matías',
 'miguel',
 'nicolás',
 'pablo',
 'raúl',
 'samuel',
 'santiago',
 'sebastián',
 'tomás',
 'tristán',
 'joan',
 'andrés',
 'ricardo',
 'manuel',
 'ezequiel',
 'francisco',
 'elías',
 'blas',
 'alfonso',
 'ulises',
 'gerardo',
 'alfredo',
 'álvaro',
 'amadeo',
 'amancio',
 'antonio',
 'baltasar',
 'beltrán',
 'benito',
 'rufino',
 'boris',
 'camilo',
 'ciro',
 'conrado']

In [ ]:
class LimpiadorTexto:

    def __init__(self, texto_limpiar):
        self.texto = texto_limpiar
        self.texto_limpio = []

    def split_texto(self):
        self.texto = self.texto.split("\n")

    def _limpiador_de_texto(self, text):
        if text != "":
            solo_nombre = text.split("  ")[1]
            solo_nombre_no_spaces = solo_nombre.strip().lower()
            self.texto_limpio.append(solo_nombre_no_spaces)

    def limpiar_all_text(self):
        self.split_texto()
        for text in self.texto:
            self._limpiador_de_texto(text)


    def execute(self):
        self.limpiar_all_text()
        return self.texto_limpio


    def execute_no_repeat(self):
        return set(self.texto_limpio)

In [91]:
new_lista_nombre_karla = """
101.  Abel
102.  Adrián
103.  Alejandro
104.  Ángel
105.  Carlos
106.  César
107.  Bruno
108.  Daniel
109.  Darío
110.  David
111.  Diego
112.  Emilio
113.  Fabián
114.  Felipe
115.  Gabriel
116.  Héctor
117.  Hugo
118.  Jacobo
119.  Jaime
120.  Joaquín
121.  Juan
122.  Leonardo
123.  Leo
124.  Lucas
125.  Marcos
126.  Martín
127.  Mateo
128.  Matías
129.  Miguel
130.  Nicolás
131.  Pablo
132.  Raúl
133.  Samuel
134.  Santiago
135.  Sebastián
136.  Tomás
137.  Tristán
138.  Joan
139.  Andrés
140.  Ricardo
141.  Manuel
142.  Ezequiel
143.  Francisco
144.  Elías
145.  Blas
146.  Alfonso
147.  Ulises
148.  Gerardo
132.  Raúl
149.  Alfredo
150.  Álvaro
151.  Amadeo
152.  Amancio
153.  Antonio
154.  Baltasar
155.  Beltrán
156.  Benito
157.  Rufino
158.  Boris
159.  Camilo
160.  Ciro
161.  Conrado
"""

In [93]:
cleaner_karla = LimpiadorTexto(new_lista_nombre_karla)

In [ ]:
lista_nueva_prod = cleaner_karla.execute()

In [ ]:
print(len(lista_nueva_prod))

62

In [ ]:
print(len(cleaner_karla.execute_no_repeat()))

61