<a href="https://colab.research.google.com/github/Andru-1987/74235-_DataScience_I/blob/main/clase_2/clase_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
print("Hola, mundo")

Hola, mundo

In [44]:
nombre = input("ingrese tu nombre")

ingrese tu nombrejuanito

In [45]:
print(nombre)

juanito

In [46]:
nombre = 129.99

In [47]:
print(nombre)

129.99

---

In [48]:
lista_de_nombres = """
1.  Hugo
2.  Martín
3.  Lucas
4.  Mateo
5.  Leo
6.  Daniel
7.  Alejandro
8.  Pablo
9.  Manuel
10.  Álvaro
11.  Adrián
12.  David
13.  Mario
"""

lista_de_nombres

'\n1.  Hugo \n2.  Martín \n3.  Lucas \n4.  Mateo \n5.  Leo \n6.  Daniel \n7.  Alejandro \n8.  Pablo \n9.  Manuel\n10.  Álvaro \n11.  Adrián \n12.  David \n13.  Mario \n'

In [49]:
lista_cleaned = lista_de_nombres.split("\n")
lista_cleaned

['',
 '1.  Hugo ',
 '2.  Martín ',
 '3.  Lucas ',
 '4.  Mateo ',
 '5.  Leo ',
 '6.  Daniel ',
 '7.  Alejandro ',
 '8.  Pablo ',
 '9.  Manuel',
 '10.  Álvaro ',
 '11.  Adrián ',
 '12.  David ',
 '13.  Mario ',
 '']

In [56]:
lista_completamente_limpia = []

In [57]:
def limpiador_de_texto(nombre_corregir, lista_output):
    if nombre_corregir != "":
        solo_nombre = nombre_corregir.split("  ")[1]
        solo_nombre_no_spaces = solo_nombre.strip().lower()
        lista_output.append(solo_nombre_no_spaces)

In [58]:
for name in lista_cleaned:
    # if name  == "":
    #     print("este elemnto es vacio")
    # else:
    #     solo_nombre = name.split("  ")[1]
    #     solo_nombre_no_spaces = solo_nombre.strip().lower()
    #     lista_completamente_limpia.append(solo_nombre_no_spaces)
    # if name != "":
    #     solo_nombre = name.split("  ")[1]
    #     solo_nombre_no_spaces = solo_nombre.strip().lower()
    #     lista_completamente_limpia.append(solo_nombre_no_spaces)

    limpiador_de_texto(name,lista_completamente_limpia)

In [59]:
lista_completamente_limpia

['hugo',
 'martín',
 'lucas',
 'mateo',
 'leo',
 'daniel',
 'alejandro',
 'pablo',
 'manuel',
 'álvaro',
 'adrián',
 'david',
 'mario']

In [73]:
karla_negocio_nombres = []

In [74]:
new_lista_nombre_karla = """
101.  Abel
102.  Adrián
103.  Alejandro
104.  Ángel
105.  Carlos
106.  César
107.  Bruno
108.  Daniel
109.  Darío
110.  David
111.  Diego
112.  Emilio
113.  Fabián
114.  Felipe
115.  Gabriel
116.  Héctor
117.  Hugo
118.  Jacobo
119.  Jaime
120.  Joaquín
121.  Juan
122.  Leonardo
123.  Leo
124.  Lucas
125.  Marcos
126.  Martín
127.  Mateo
128.  Matías
129.  Miguel
130.  Nicolás
131.  Pablo
132.  Raúl
133.  Samuel
134.  Santiago
135.  Sebastián
136.  Tomás
137.  Tristán
138.  Joan
139.  Andrés
140.  Ricardo
141.  Manuel
142.  Ezequiel
143.  Francisco
144.  Elías
145.  Blas
146.  Alfonso
147.  Ulises
148.  Gerardo
149.  Alfredo
150.  Álvaro
151.  Amadeo
152.  Amancio
153.  Antonio
154.  Baltasar
155.  Beltrán
156.  Benito
157.  Rufino
158.  Boris
159.  Camilo
160.  Ciro
161.  Conrado
"""

new_lista_nombre_karla = new_lista_nombre_karla.split("\n")
print(new_lista_nombre_karla)

['', '101.  Abel  ', '102.  Adrián  ', '103.  Alejandro  ', '104.  Ángel  ', '105.  Carlos  ', '106.  César  ', '107.  Bruno  ', '108.  Daniel  ', '109.  Darío  ', '110.  David  ', '111.  Diego  ', '112.  Emilio  ', '113.  Fabián  ', '114.  Felipe  ', '115.  Gabriel  ', '116.  Héctor  ', '117.  Hugo  ', '118.  Jacobo  ', '119.  Jaime  ', '120.  Joaquín  ', '121.  Juan  ', '122.  Leonardo  ', '123.  Leo  ', '124.  Lucas  ', '125.  Marcos  ', '126.  Martín  ', '127.  Mateo  ', '128.  Matías  ', '129.  Miguel  ', '130.  Nicolás  ', '131.  Pablo  ', '132.  Raúl  ', '133.  Samuel  ', '134.  Santiago  ', '135.  Sebastián  ', '136.  Tomás  ', '137.  Tristán  ', '138.  Joan  ', '139.  Andrés  ', '140.  Ricardo  ', '141.  Manuel  ', '142.  Ezequiel  ', '143.  Francisco  ', '144.  Elías  ', '145.  Blas  ', '146.  Alfonso  ', '147.  Ulises  ', '148.  Gerardo  ', '149.  Alfredo  ', '150.  Álvaro  ', '151.  Amadeo  ', '152.  Amancio  ', '153.  Antonio  ', '154.  Baltasar  ', '155.  Beltrán  ', '156.  Benito  ', '157.  Rufino  ', '158.  Boris  ', '159.  Camilo  ', '160.  Ciro  ', '161.  Conrado  ', '']

In [66]:
for karla_name in new_lista_nombre_karla:
    limpiador_de_texto(karla_name,karla_negocio_nombres)

In [67]:
karla_negocio_nombres

['abel',
 'adrián',
 'alejandro',
 'ángel',
 'carlos',
 'césar',
 'bruno',
 'daniel',
 'darío',
 'david',
 'diego',
 'emilio',
 'fabián',
 'felipe',
 'gabriel',
 'héctor',
 'hugo',
 'jacobo',
 'jaime',
 'joaquín',
 'juan',
 'leonardo',
 'leo',
 'lucas',
 'marcos',
 'martín',
 'mateo',
 'matías',
 'miguel',
 'nicolás',
 'pablo',
 'raúl',
 'samuel',
 'santiago',
 'sebastián',
 'tomás',
 'tristán',
 'joan',
 'andrés',
 'ricardo',
 'manuel',
 'ezequiel',
 'francisco',
 'elías',
 'blas',
 'alfonso',
 'ulises',
 'gerardo',
 'alfredo',
 'álvaro',
 'amadeo',
 'amancio',
 'antonio',
 'baltasar',
 'beltrán',
 'benito',
 'rufino',
 'boris',
 'camilo',
 'ciro',
 'conrado']

In [90]:
class LimpiadorTexto:

    def __init__(self, texto_limpiar):
        self.texto = texto_limpiar
        self.texto_limpio = []

    def split_texto(self):
        self.texto = self.texto.split("\n")

    def _limpiador_de_texto(self, text):
        if text != "":
            solo_nombre = text.split("  ")[1]
            solo_nombre_no_spaces = solo_nombre.strip().lower()
            self.texto_limpio.append(solo_nombre_no_spaces)

    def limpiar_all_text(self):
        self.split_texto()
        for text in self.texto:
            self._limpiador_de_texto(text)


    def execute(self):
        self.limpiar_all_text()
        return self.texto_limpio


    def execute_no_repeat(self):
        return set(self.texto_limpio)

In [91]:
new_lista_nombre_karla = """
101.  Abel
102.  Adrián
103.  Alejandro
104.  Ángel
105.  Carlos
106.  César
107.  Bruno
108.  Daniel
109.  Darío
110.  David
111.  Diego
112.  Emilio
113.  Fabián
114.  Felipe
115.  Gabriel
116.  Héctor
117.  Hugo
118.  Jacobo
119.  Jaime
120.  Joaquín
121.  Juan
122.  Leonardo
123.  Leo
124.  Lucas
125.  Marcos
126.  Martín
127.  Mateo
128.  Matías
129.  Miguel
130.  Nicolás
131.  Pablo
132.  Raúl
133.  Samuel
134.  Santiago
135.  Sebastián
136.  Tomás
137.  Tristán
138.  Joan
139.  Andrés
140.  Ricardo
141.  Manuel
142.  Ezequiel
143.  Francisco
144.  Elías
145.  Blas
146.  Alfonso
147.  Ulises
148.  Gerardo
132.  Raúl
149.  Alfredo
150.  Álvaro
151.  Amadeo
152.  Amancio
153.  Antonio
154.  Baltasar
155.  Beltrán
156.  Benito
157.  Rufino
158.  Boris
159.  Camilo
160.  Ciro
161.  Conrado
"""

In [93]:
cleaner_karla = LimpiadorTexto(new_lista_nombre_karla)

In [94]:
lista_nueva_prod = cleaner_karla.execute()

In [98]:
print(len(lista_nueva_prod))

62

In [99]:
print(len(cleaner_karla.execute_no_repeat()))

61